body{
  font-family: Montserrat;
  line-height: 2.5;
  font-size: 1em; // 16px = 1em = 100%
  margin: 20px 10px;
  Weights: 400;
  background-color: white;
}

img{
  width: 100%;
  border-radius: 10px;
  align-self: center;
}
#Preparation-time {
  background-color: pink;
}
h2, .values{
  color: brown;
}
td{
    border-bottom: 1px solid #ddd;
}
table{
  width: 100%;
}
#container{
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 30px;
  flex-direction: column;
  display: flex;
  height: 1190px;
  width: 600px;
  margin-left: 400px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@page {
  size: 50%;
}
